body {
    background: rgb(2,0,36);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    font-family: 'Quicksand', sans-serif;
}



