@import java.util.Calendar
@import java.text.SimpleDateFormat
@(forecast: Forecast)


<!--Reminder of what forecast is below:-->
<!--case class Forecast(dateAndTime: WeatherInfo, description: WeatherDesc)-->


<div class="card border-secondary h-100">
    <div class="card-body text-center">
        <div class="font-aw">
            @if((forecast.desc.description.split(" ") contains "clouds" ) ||
            (forecast.desc.description.split(" ") contains "cloud" )){
            <span class="fas fa-cloud"></span>
            }
            @if(forecast.desc.description.split(" ") contains "rain"){
            <i class="fas fa-cloud-showers-heavy"></i>
            }
            @if(forecast.desc.description.split(" ") contains "snow"){
            <i class="fas fa-snowflake"></i>
            }
            @if((forecast.desc.description.split(" ") contains "sun") ||
            (forecast.desc.description.split(" ")
            contains "clear")){
            <i class="fas fa-sun"></i>
            }
        </div>
        <h5 class="card-title">@forecast.dateAndTime.getFormattedDate</h5>
        <p class="card-text">@forecast.desc.description</p>
    </div>
</div>
